<!DOCTYPE html>
<html>

    {% load static %} 
    <link rel="stylesheet" href="{% static 'style-swift-d.css'%}">

	<head>
		<title>Swift same day</title>
        <img id="header-img" src="{% static 'head-alt.png' %}" alt="header">
        
	</head>

	<body>
		<h1>Swift Same Day</h1>
        <h2> Masukan Sub-judul untuk section ini</h2>
		<p id="intro"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        
        <img id="a" src="{% static '1.png' %}" alt="1">
        <img id="b" src="{% static '2.png' %}" alt="2">
        <img id="c" src="{% static '3.png' %}" alt="3">
        <img id="d" src="{% static '4.png' %}" alt="4">
        <img id="e" src="{% static '5.png' %}" alt="5">
        <img id="f" src="{% static '6.png' %}" alt="6">
        

        <button id="back" onclick="history.back()">Kembali</button>

	</body>

    <img id="footer-img" src="{% static 'fake-footer.png' %}" alt="footer">

    

</html>