<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    {% load static %} 
    <img class="mb-5" src="{% static 'head-alt.png' %}" alt="head-alt">

    <title>Riyal</title>
</head>

<body style="background-image:url('{% static 'bg-islami.png' %}');">
    
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto mt-5 text-center">
                
                
                {% load embed_video_tags %}

                <h1 class="blockquote" style="font-family: 'Lato';font-style: normal;font-weight: 700;font-size: 44.5138px;color: #F6AD3C;">Mengapa Perlu Tukar Riyal?</h1>
              
                <img class="mb-5" src="{% static 'content-riyal-rev.png' %}" alt="head-alt">

                {% for item in videos %}

                    <div class="px-3">{% video item.url '854x480'%}
                        <div class="px-3 mb-5">
                            {{item.title}}
                        </div>
                    </div>

                {% endfor %}

                <button class = "mb-5" style="background: #F6AD3C;border: 1px solid #FFFFFF;border-radius: 3.55462px;font-family: 'Lato';font-style: normal;font-weight: 700;font-size: 26.1919px;line-height: 31px;color: #FFFFFF;" onclick="history.back()">Kembali</button>

            </div>
        </div>
    </div>

    

</body>
</html>
