<!DOCTYPE html>
<html>

    {% load static %} 
    <link rel="stylesheet" href="{% static 'home-style.css'%}">

	<head>
		<title>Berihram</title>
        <img class="header-img" src="{% static 'header.png' %}" alt="header">
	</head>

	<body>
		<h1>Memberi Manfaat dan keberkahan melalui program Berihram bersama BSI</h1>
		<p>
            Assalamualaikum wr. wb. sahabat BSI<br> 
            Terimakasih telah mempercayakan bank BSI sebagai partner bisnis dalam mempermudah transaksi haji dan umroh sahabat BSI<br>
            Silahkan pilih menu berikut sesuai kebutuhan sahabat.
        </p>

        <h2 class = "section-1-title">1. Kerja Sama Travel</h2>
        <div class = "section-1">
            <a class = "section-1-button" type="button" href="swift">Swift</a>
            <a class = "section-1-button" type="button" href="swift-same-day">Swift same day</a>
            <a class = "section-1-button" type="button" href="riyal">Penukaran riyal</a>
            <a class = "section-1-button" type="button" href="tabungan-haji-umroh">Tabungan haji umroh</a>
            <a class = "section-1-button" type="button" href="card/visa">Visa card</a>
            <a class = "section-1-button" type="button">Master card</a>
        </div>

        <h2 class = "section-2-title">2. Kerja Sama KBIH</h2>
        <div class = "section-2">
            <a class = "section-2-button" type="button" href="tabungan-haji-umroh">Tabungan haji umroh</a>
            <a class = "section-2-button" type="button" href="riyal">Penukaran riyal</a>
            <a class = "section-2-button" type="button">Persyaratan haji</a>
            <a class = "section-2-button" type="button">Daftar KBIH rekanan</a>
            <a class = "section-2-button" type="button">Galeri</a>

            <!--href="https://wa.me/6281383320220"-->
        </div>
        
	</body>

    <footer style="background:background: #24A29F;">
        <img class="footer-img" src="{% static 'fake-footer.png' %}" alt="footer">
    </footer>


</html>










