<!DOCTYPE html>
<html>

    {% load static %} 
    <link rel="stylesheet" href="{% static 'style.css'%}">

	<head>
		<title>Berihram</title>
        <img class="header-img" src="{% static 'header.png' %}" alt="header">
	</head>

	<body>
		<h1>Judul</h1>
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h2 class = "section-1-title">1. Kerja Sama Travel</h2>
        <div class = "section-1">
            <a class = "section-1-button" type="button">Swift</a>
            <a class = "section-1-button" type="button">Swift same day</a>
            <a class = "section-1-button" type="button">Multicurrency</a>
            <a class = "section-1-button" type="button">Penukaran riyal</a>
            <a class = "section-1-button" type="button">Tabungan haji umroh</a>
            <a class = "section-1-button" type="button">Visa card</a>
            <a class = "section-1-button" type="button">Master card</a>
        </div>

        <h2 class = "section-2-title">2. Kerja Sama KBIH</h2>
        <div class = "section-2">
            <a class = "section-2-button" type="button">Tabungan haji umroh</a>
            <a class = "section-2-button" type="button">Visa dan master card</a>
            <a class = "section-2-button" type="button" href="riyal">Penukaran riyal</a>
        </div>
        
	</body>

    <img class="footer-img" src="{% static 'fake-footer.png' %}" alt="footer">

</html>










